@model IEnumerable<Ado.netDapperOrmProje.Models.MusteriModel>

<p>
    @Html.ActionLink("Yeni Müşteri Ekle", "MusteriEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MusteriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusteriSoyad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriSoyad)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "MusteriEkle", new {  id=item.MusteriId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Sil", "Delete", new { id=item.MusteriId })
        </td>
    </tr>
}

</table>
